version: '3.3'

{% if edms_data_disk is not defined %}
volumes:
{% if 'alfresco' in available_docker_services %}
  alfresco-data:
{% endif %}
{% if 'alfresco-db' in available_docker_services %}
  alfresco-db:
{% endif %}
{% if 'alfresco-solr6' in available_docker_services %}
  alfresco-solr-data:
{% endif %}
{% endif %}

services:

{% if is_datadog_on_docker %}
  datadog:
    restart: always
    image: datadog/docker-dd-agent:latest
    ports:
      - "8125:8125/udp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro 
      - /proc/:/host/proc/:ro 
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro 
    environment:
      API_KEY: "{{ dd_key }}"
      SD_BACKEND: "docker"
      TAGS: "environment:{{ environment_name }},role:docker"
      DD_HOSTNAME: "{{ full_hostname }}"
      DD_PROCESS_AGENT_ENABLED: "{{ dd_process_agent_enabled }}"
{% endif %}

{% if 'alfresco' in available_docker_services %}
  alfresco:
      restart: always
      #image: alfresco/alfresco-content-repository-community:6.0.7-ga
      build:
          context: ./alfresco
      environment:
          JAVA_OPTS : "
              -Ddb.driver=org.postgresql.Driver
              -Ddb.username=alfresco
              -Ddb.password={{ edms_db_pass }}
              -Ddb.url=jdbc:postgresql://{{ edms_db_host }}:{{ edms_db_port }}/alfresco
              -Ddb.pool.max=975
              -Dindex.subsystem.name=solr6
              -Dsolr.host={{ solr_host }}
              -Dsolr.port={{ solr_port }}
              -Dsolr.secureComms=none
              -Dsolr.base.url=/solr
              -Dshare.host={{ alfresco_host }}
              -Ddeployment.method=DOCKER_COMPOSE
              -Dcsrf.filter.enabled=false
              -Xms{{ alfresco_xms }} -Xmx{{ alfresco_xmx }}
              "
      ports:
          - 8380:8080 #Browser port
      volumes:
{% if edms_data_disk is not defined %}
          - alfresco-data:/usr/local/tomcat/alf_data
{% else %}
          - {{ edms_data_disk }}/alfresco-data:/usr/local/tomcat/alf_data
{% endif %}
      depends_on:
        - alfresco-share
{% if 'alfresco-db' in available_docker_services %}
        - alfresco-db
{% endif %}
{% if 'alfresco-solr6' in available_docker_services %}
        - alfresco-solr6
{% endif %}
{% endif %}

{% if 'alfresco-share' in available_docker_services %}
  alfresco-share:
      restart: always
      image: alfresco/alfresco-share:6.0.b
      environment:

{% if edms_csrf_filter_referer is defined %}
          - CSRF_FILTER_REFERER={{ edms_csrf_filter_referer }}
{% endif %}

{% if edms_csrf_filter_origin is defined %}
          - CSRF_FILTER_ORIGIN={{ edms_csrf_filter_origin }}
{% endif %}
          - REPO_HOST=alfresco
          - REPO_PORT=8080
          - "CATALINA_OPTS= -Xms{{ share_xms }} -Xmx{{ share_xmx }}"
      ports:
          - 8080:8080
{% endif %}

{% if 'alfresco-db' in available_docker_services %}
  alfresco-db:
    restart: always
    image: postgres:10.1
    restart: always
    environment:
          - POSTGRES_PASSWORD={{ edms_db_pass }}
          - POSTGRES_USER=alfresco
          - POSTGRES_DB=alfresco
          - PGDATA=/var/lib/postgresql/data/pgdata
    command: postgres -c max_connections=1000 -c log_min_messages=LOG
    volumes:
{% if edms_data_disk is not defined %}
      - alfresco-db:/var/lib/postgresql/data
{% else %}
      - {{ edms_data_disk }}/alfresco-db:/var/lib/postgresql/data
{% endif %}
    ports:
      - "5436:5432"
{% endif %}

{% if 'alfresco-db-backup' in available_docker_services %}
  alfresco-db-backup:
    restart: always
    image: prodrigestivill/postgres-backup-local:10-alpine
    ports:
      - "8090:8080"
    environment:
      POSTGRES_HOST: alfresco-db
      POSTGRES_PORT: 5432
      POSTGRES_DB: alfresco
      POSTGRES_USER: alfresco
      POSTGRES_PASSWORD: {{ edms_db_pass }}
      POSTGRES_EXTRA_OPTS: "-Z9"
      SCHEDULE: "{{ backup_schedule }}"
      BACKUP_KEEP_DAYS: {{ backup_keep_days }}
      BACKUP_KEEP_WEEKS: {{ backup_keep_weeks }}
      BACKUP_KEEP_MONTHS: {{ backup_keep_months }}
      BACKUP_DIR: /backups
      HEALTHCHECK_PORT: 8080
    volumes:
      - {{ backup_client_folder }}/alfresco-db-backup:/backups
    depends_on:
      - alfresco-db
{% endif %}

{% if 'alfresco-solr6' in available_docker_services %}
  alfresco-solr6:
      restart: always
      image: alfresco/alfresco-search-services:1.1.1
      environment:
          #Solr needs to know how to register itself with Alfresco
          - SOLR_ALFRESCO_HOST={{ alfresco_host }}
          - SOLR_ALFRESCO_PORT={{ alfresco_port }}
          #Alfresco needs to know how to call solr
          - SOLR_SOLR_HOST={{ solr_host }}
          - SOLR_SOLR_PORT=8983
          #Create the default alfresco and archive cores
          - SOLR_CREATE_ALFRESCO_DEFAULTS=alfresco,archive
          #Set JVM memory values
          - "SOLR_JAVA_MEM=-Xms{{ solr_xms }} -Xmx{{ solr_xmx }}"
      volumes:
{% if edms_data_disk is not defined %}
          - alfresco-solr-data:/opt/alfresco-search-services/data
{% else %}
          - {{ edms_data_disk }}/alfresco-solr-data:/opt/alfresco-search-services/data
{% endif %}
      ports:
          - 8083:8983 #Browser port
{% endif %}
