version: '3.3' # specify docker-compose version


volumes:
  postgres:
  sonar-postgres:
  sonar-data:

# Define the services/containers to be run
services:
{% if is_datadog_on_docker %}
  datadog:
    restart: always
    image: datadog/docker-dd-agent:12.6.5230-alpine
    ports:
      - "8125:8125/udp"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro 
      - /proc/:/host/proc/:ro 
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro 
    environment:
      API_KEY: "{{ dd_key }}"
      SD_BACKEND: "docker"
      TAGS: "environment:{{ environment_name }},role:docker"
      DD_HOSTNAME: "{{ full_hostname }}" 
{% endif %}

  foncier_ui:
    restart: always
    image: sogema-docker.jfrog.io/sogema/foncier-ui:{{ foncier_ui_image_version }}
    ports:
      - "4200:4200"
    environment:
      - API_URL=foncier_api:8280
      - WORKFLOW_URL=foncier_wf:8080
    depends_on:
      - foncier_api        
      - foncier_wf

  foncier_wf:
    restart: always
    image: sogema-docker.jfrog.io/sogema/foncier_wf:{{ foncier_wf_image_version }}
    ports:
      - "8581:8080"      
    volumes:
      - ./keycloak_config/keycloak.json:/camunda/webapps/engine-rest/WEB-INF/keycloak.json

  foncier_api:
    restart: always
    image: sogema-docker.jfrog.io/sogema/foncier-api:{{ foncier_api_image_version }}
    ports:
      - "8280:8280"
    environment:
      DB_HOST: "{{ db_host }}"
      DB_PORT: "{{ db_port }}"
      DB_USER: "{{ db_user }}"
      DB_PASS: "{{ db_pass }}"
      DB_NAME: "{{ db_name }}"
      CAMUNDA_ENGINEREST_URL: {{ camunda_enginerest_url }}
      EDMS_USER: {{ edms_user }}
      EDMS_PASSWORD: {{ edms_password }}
      EDMS_DOMAIN: {{ edms_domain }}
      EDMS_SOURCE: {{ edms_source }}
      EDMS_TEMP_FILE_DIRECTORY: {{ edms_temp_file_directory }}
      EDMS_SERVER_BASE_FOLDER: {{ edms_server_base_folder }}
      EDMS_SHAREPOINT_SITE: {{ edms_sharepoint_site }}
      EDMS_SHAREPOINT_FOLDER: {{ edms_sharepoint_folder }}
      MAIL_HOST: {{ mail_host }}
      MAIL_PORT: {{ mail_port }}
      MAIL_USERNAME: {{ mail_username }}
      MAIL_PASSWORD: {{ mail_password }}
      MAIL_PROTOCOL: {{ mail_protocol }}
      MAIL_DEFAULTENCODING: {{ mail_defaultencoding }}
      MAIL_SMTP_AUTH_ENABLED: '{{ mail_smtp_auth_enabled }}'
      MAIL_TLS_ENABLED: '{{ mail_tls_enabled }}'
      KEYCLOAK_AUTH_SERVER_URL: {{ keycloak_auth_server_url }}
      KEYCLOAK_REALM: {{ keycloak_realm }}
      KEYCLOAK_SSL_REQUIRED: '{{ keycloak_ssl_required }}'
      KEYCLOAK_API_CLIENT: {{ keycloak_api_client }}
      KEYCLOAK_API_CLIENT_SECRET: {{ keycloak_api_client_secret }}
      KEYCLOAK_API_CLIENT_ROLE: {{ keycloak_api_client_role }}
      KEYCLOAK_UI_CLIENT: {{ keycloak_ui_client }}
      RULES_BASE_URL: {{rules_base_url}}
      RULES_DEFAULT_TRAN_TYPE: {{rules_default_tran_type}}
      RULES_DEFAULT_TRAN_VERSION: {{rules_default_tran_version}}
      RULES_ENDPOINTS_TASK: {{rules_endpoints_task}}
      RULES_ENDPOINTS_PARTY: {{rules_endpoints_party}}
      RULES_ENDPOINTS_PARTY_GROUP: {{rules_endpoints_party_group}}
      RULES_ENDPOINTS_PARTY_MEMBER: {{rules_endpoints_party_member}}
    depends_on:
      - foncier_wf
      - postgres          

  postgres:
    image: postgres:10.4-alpine
    restart: always
    volumes:
      - postgres:/var/lib/postgresql/data
      # - ./scripts:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"      
    environment:
      POSTGRES_USER: "{{ db_user }}"
      POSTGRES_PASSWORD: "{{ db_pass }}"
      POSTGRES_DB: "{{ db_name }}"    
      PGDATA: /var/lib/postgresql/data/pgdata


{% if is_foncier_rules_api_enabled %}   
  foncier_rules_api:
    restart: always
    image: sogema-docker.jfrog.io/sogema/foncier-rules-api:{{foncier_rules_api_image_version}}
    ports:
      - "8082:8080"
      - "8001:8001"
    #volumes:
    #  - /data/drools/wb_git:/opt/jboss/wildfly/bin/.niogit
    #TODO map /usr/share/maven without loosing its content! believe user issue
    #TODO replace the admin password by loading from environment
    command: ["sh", "-c", "/opt/jboss/wildfly/bin/add-user.sh -a {{drools_workbench_user}} {{drools_workbench_pass}} && /opt/jboss/wildfly/bin/start_server.sh"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 1m30s
      timeout: 10s
      retries: 3    
{% endif %}        

{% if is_sonar_enabled %}      
  sonarqube:
    image: sonarqube:7.1-alpine
    restart: always
    ports:
      - "9000:9000"      
      - "9092:9092"  
    environment:
      SONARQUBE_JDBC_USERNAME: "sonar"
      SONARQUBE_JDBC_PASSWORD: "sonar"
      SONARQUBE_JDBC_URL: "jdbc:postgresql://sonarqube_db:5432/sonar"   
    volumes:
      - sonar-data:/opt/sonarqube/extensions  
    depends_on: 
      - sonarqube_db      

  sonarqube_db:
    image: postgres:10.4-alpine
    restart: always
    volumes:
      - sonar-postgres:/var/lib/postgresql-sonar/data
      - ./scripts:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"      
    environment:
      POSTGRES_USER: "sonar"
      POSTGRES_PASSWORD: "sonar"
      POSTGRES_DB: "sonar"    
      PGDATA: /var/lib/postgresql-sonar/data/pgdata
       
{% endif %}        