# Modify install directory and all port number references
#
mode=unattended
install_directory={{install_directory}}
server_port={{server_port}}
repository_admin_password={{repository_admin_password}}
database_admin_password={{database_admin_password}}
server_admin_password={{server_admin_password}}
encryption_password={{encryption_password}}
unique_Id={{unique_Id}}