{
  "realm": "{{keycloak_realm}}",
  "bearer-only": true,
  "auth-server-url": "{{keycloak_auth_server_url}}",
  "ssl-required": "{{keycloak_ssl_required}}",
  "resource": "{{keycloak_wf_client}}",
  "confidential-port": 0,
  "enable-cors": true,
  "realm-public-key": "{{keycloak_wf_realm_public_key}}"
}
 